@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

#msg-container {
  text-align: center;
}

button.thumbnail {
  padding: 0;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  vertical-align: middle !important;
  white-space: nowrap;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.notification-card {
  width: 25rem;
  position: absolute;
  right: -23px;
  top: 36px;
  max-height: 30rem;
  overflow-x: hidden;
}

.notification-list:hover {
  background: #e5e4e2 !important;
}

/* ----------- Map Styling ------------- */
.full-box {
  height: 50vh;
  max-width: initial;
}

.p-bold {
  margin: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

/* --------------------- */

.rating {
  padding: 0.2rem 0.7rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.on,
.green {
  font-size: 2em;
  color: rgba(0, 128, 0, 0.836);
  transform: all 0.5s;
}

.off,
.red {
  font-size: 2em;
  color: rgba(226, 86, 43, 0.747);
  transform: all 0.5s;
}

.red {
  font-size: 1.2em;
}

.header {
  border-bottom: 1px solid #dee2e6;
  z-index: 1020;
  background: rgb(15, 145, 122);
  background: linear-gradient(
    120deg,
    rgba(15, 145, 122, 1) 0%,
    rgba(131, 227, 124, 1) 75%
  );
}

.header-link {
  padding: 0.5rem 1.75rem !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.header-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff !important;
}

.toggle-link-item {
  text-decoration: none;
  font-weight: 700;
  color: #b6b0b0;
  /* font-size: large; */
  padding: 0 0.6rem;
}

.toggle-link-item.active-link,
.toggle-link-item:hover {
  color: #001c4e;
  /* color: #aa4bff; */
}

.link-center {
  margin-bottom: 1rem;
}

.td-img {
  transition: all 0.5s !important;
}

.search-dropdown {
  border: 0.5px solid #dee2e6;
  border-top: 0px;
  background-color: #dee2e6;
  padding: 0.8rem 1rem;
  display: flex;
}

.search-dropdown:hover {
  background-color: #b6b0b0;
  cursor: pointer;
}

.open-model {
  font-size: 2em;
  color: blue;
  cursor: pointer;
}

.card-header-primary {
  background-color: #02a97b5e;
}

.card-title {
  display: inline-block;
}

.card-tools {
  float: right;
  cursor: pointer;
}

.navbar-nav a.right-profile-logo {
  color: #001c4e !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-profile-logo > img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* ------------------- */
.main-wrapper {
  display: flex;
  min-height: 100%;
}

.body-wrapper {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  flex: 1;
  transition: width 0.3s ease-in-out;
}

.body-wrapper.mini-body {
  margin-left: 250px;
}

.body-wrapper.full-body {
  margin-left: 4.6rem;
}

.sidebar-wrapper {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  background: linear-gradient(
    rgba(15, 145, 122, 1) 0%,
    rgba(131, 227, 124, 1) 75%
  );
  z-index: 1038;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.wrapper {
  padding: 0 1rem;
}

footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
}

table.table {
  margin-bottom: 0;
}

.table-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.search-box {
  width: 100%;
}

.filter-category {
  margin: 0rem 1rem;
}

.dropdown-toggle:hover,
.dropdown-toggle,
.dropdown:hover {
  background-color: transparent;
  border: none;
}

.dropdown button {
  background: transparent !important;
}

.dropdown-menu span:active,
.dropdown-menu Link:active {
  background-color: transparent !important;
  color: black;
}

.login-page {
  background-color: #e9ecef;
}

.login-box {
  width: 90%;
}

.login-logo,
.register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo a {
  color: #495057;
}

.csv-input {
  padding: 0.8rem;
  display: block;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.add-prod-option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-prod-option-btn button {
  margin: 1rem 0rem;
}

.collapsed:hover {
  transition: all 300ms ease;
  background-color: #e8f2fc !important;
  border-radius: 0.5rem;
}

.accordion-collapse {
  border-radius: 0.5rem;
}

.accor-root {
  padding: 0.5rem 0.2rem !important;
  margin: 0.6rem 0rem !important;
  border-bottom: 1px solid #cfcfcf !important;
}

.accor-root-header p {
  margin: 0rem 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .search-box {
    margin-top: 0.5rem;
  }

  .pagination {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-border-radius: 0.25rem;
  }

  .notification-card {
    width: 16rem;
    right: -40px;
  }

  .notification-message {
    font-size: 0.8rem;
  }

  .mark-read-btn {
    font-size: 0.7rem !important;
    margin-top: 1rem;
  }
}

@media (min-width: 576px) {
  .login-box {
    width: 360px;
  }

  .search-box {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search-box {
    width: 30%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

@media (max-width: 576px) {
  .edit-order-assiDate-date {
    font-size: 0.8rem;
  }

  .edit-order-assiDate {
    flex-direction: column;
    align-items: flex-start;
  }
}

.bg-info,
.bg-info > a {
  color: #fff !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.small-box > .inner {
  padding: 10px;
  color: #fff;
}

.small-box h3,
.small-box p {
  z-index: 5;
}

.small-box h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 10px;
  padding: 0;
  white-space: nowrap;
}

.small-box p {
  font-size: 1rem;
}

.small-box .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}

.small-box .icon svg {
  font-size: 70px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.small-box:hover .icon > svg {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.small-box > .small-box-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}

.edit-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  max-width: 100%;
  margin-top: 1rem;
}

.edit-image > img {
  width: 200px;
  height: 150px;
  border: 1px solid #dee2e6;
  object-fit: contain;
  margin: 0 0.5rem;
}

.edit-image > video {
  width: 150px;
  border: 1px solid #dee2e6;
  object-fit: contain;
  margin: 0 0.5rem;
}

.warn {
  color: red;
  font-size: 0.8rem;
  margin: 5px 0;
}

.edit-course {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.edit-course > svg {
  font-size: 1rem;
}

.view-video {
  width: 200px;
  height: 70px;
}

.lesson {
  text-align: center;
  font-weight: bold;
}

.view-section {
  max-height: 80vh;
  overflow: auto;
}

.view-section > div > .view-section-card {
  border-bottom: 0px;
  border-radius: 0px;
  margin-top: 0.5rem;
}

.trash {
  position: absolute;
  top: 7px;
  right: 7px;
  opacity: 0.6;
}
.trash:hover {
  opacity: 1;
}
